<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Servak.Database.DBModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-Z510\SQLEXPRESS;initial catalog=CourseWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CourseWorkDBEntities" connectionString="metadata=res://*/Database.DataBaseModel.csdl|res://*/Database.DataBaseModel.ssdl|res://*/Database.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-Z510\SQLEXPRESS;initial catalog=CourseWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBModelContainer" connectionString="metadata=res://*/Database.DBModel.csdl|res://*/Database.DBModel.ssdl|res://*/Database.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-Z510;initial catalog=CourseWorkDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CourseWorkDBEntities1" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-Z510;initial catalog=CourseWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>